@import "/font/yandex-sans.css";

* {
    font-family: 'Yandex Sans Text', Arial, sans-serif;
}

.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

#password-mismatch-alert {
    display: none;
}